<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sesión en Twitter</title>
    <link rel="icon" type="image/svg+xml" href="../assets/iconos/logo-x.svg" />
    <link rel="stylesheet" href="../css/styles.css">
    <style>
        body {
            background-color: #000;
            color: white;
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
            padding: 50px 0px;
        }
        .container {
            text-align: center;
            width: 350px;
        }
        .logo {
            font-size: 2rem;
            margin-bottom: 20px;
        }
        .btn {
            width: 100%;
            padding: 10px;
            margin: 10px 0;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 1rem;
        }
        input, select {
            width: 100%;
            padding: 10px;
            margin: 5px 0;
            border-radius: 5px;
            border: none;
            font-size: 1rem;
        }
        .submit {
            background-color: #1d9bf0;
            color: white;
        }
        .terms {
            font-size: 0.8rem;
            color: gray;
            margin-top: 10px;

            && a:hover{
                text-decoration: underline;
                background-color: black;
                color: white;
            }
        }

        .btn-page--container {
            padding: 40px 0px;
        }
        

        .btn-page--registro {
            color: #1d9bf0;
            text-decoration: none;
            margin-top: 20px;
            font-size: 14px;

        }

        .btn-page--registro:hover {
            text-decoration: underline;
            background-color: #1d9bf0;
            color: white;
        }
    </style>
    <script type="module" src="../js/auth/inicioSesionUsuario.js"></script>
</head>
<body>
    <div class="container">
        <div class="logo">
            <img src="../assets/iconos/logo-x.svg" alt="">
        </div>
        <h2>Iniciar sesión</h2>

        <form id="login-form">
            <input type="email" name="email" id="email"  placeholder="Correo electrónico" required>
            <input type="password" name="password" id="password"  placeholder="Contraseña" required>
            <button type="submit" class="btn submit">Siguiente</button>
        </form>

        <div class="btn-page--container">
            <p>
                ¿No tienes una cuenta? 
                <a href="/auth/registro" class="btn-page--registro">Regístrate</a>
            </p>
        </div>
        
        <p class="terms">Al registrarte, aceptas los <a href="#">Términos de servicio</a> y la <a href="#">Política de privacidad</a>, incluida la política de <a href="#">Uso de Cookies</a>.</p>
    </div>
</body>
</html>
