:root{
    --color-principal: #000000;

    --color-fuente: #ffffff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    background-color: var(--color-principal);
    color: var(--color-fuente);
}

.container-app{
    padding: 20px;
}

/* Estilos del tweet */
img{
    width: 50px;
    border-radius: 100%;
}

section{
    display: flex;
    gap: 10px;

    && article{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
}