@font-face {
    font-family: 'Twitter Chirp';
    src: url('assets/fuente/chirp-font-master/Chirp-Heavy.eot');
    src: url('assets/fuente/chirp-font-master/Chirp-Heavy.eot?#iefix') format('embedded-opentype'),
        url('assets/fuente/chirp-font-master/Chirp-Heavy.woff2') format('woff2'),
        url('assets/fuente/chirp-font-master/Chirp-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Twitter Chirp';
    src: url('assets/fuente/chirp-font-master/Chirp-Bold.eot');
    src: url('assets/fuente/chirp-font-master/Chirp-Bold.eot?#iefix') format('embedded-opentype'),
        url('assets/fuente/chirp-font-master/Chirp-Bold.woff2') format('woff2'),
        url('assets/fuente/chirp-font-master/Chirp-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Twitter Chirp';
    src: url('assets/fuente/chirp-font-master/Chirp-Regular.eot');
    src: url('assets/fuente/chirp-font-master/Chirp-Regular.eot?#iefix') format('embedded-opentype'),
        url('assets/fuente/chirp-font-master/Chirp-Regular.woff2') format('woff2'),
        url('assets/fuente/chirp-font-master/Chirp-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Twitter Chirp';
    src: url('assets/fuente/chirp-font-master/Chirp-Medium.eot');
    src: url('assets/fuente/chirp-font-master/Chirp-Medium.eot?#iefix') format('embedded-opentype'),
        url('assets/fuente/chirp-font-master/Chirp-Medium.woff2') format('woff2'),
        url('assets/fuente/chirp-font-master/Chirp-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


:root{
    --color-principal: #000000;
    --color-fuente: #ffffff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

body{
    width: 100%;
    background-color: var(--color-principal);
    color: var(--color-fuente);
    font-family: "Twitter Chirp";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1024px;
}

.body-container{
    max-width: 600px;
}

input{
    background-color: black;
    border: 1px solid #2f3336;
    border-radius: 20px;
    padding: 10px 20px;
    width: 80%;
    color: white;
    outline: none;
    
}

a{
    padding: 10px;
    width: 100%;
    display: grid;
    place-items: center;
    text-decoration: none;
    color: white;
    font-size: 10px;
}

a:hover{
    background-color: rgb(116, 116, 116);
}

span{
    color: rgb(116, 116, 116);
}

li{
    list-style: none;
}

.search{
    position:fixed;
    top: 0;
    width: 350px;
    background: black;
    padding: 10px;
    && input{
        width: 100%;
    }
}

.container-app{
    padding: 140px 0px 100px 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 600px;
}



.header{
    width: 100%;
    position: fixed;
    max-width: 600px;
}

.header-perfil{
    width: 100%;
    display: flex;
    gap: 40px;
    max-width: 600px;
    position: fixed;
    background: black;
    padding: 10px 20px;
    border-bottom: 1px solid #2f3336;
    border-right: 1px solid #2f3336;

    && picture{
        display: grid;
        place-items: center;
    }
}

main{
    width: 100%;
    display: grid;
    place-items: center;
}

img{
    width: 100%;
    max-width: 30px;
}

.header-inline-container{
    position: relative;
    background: red;
    width: 100%;
}


.container-article{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    display: none;
    max-width: 600px;
}

.tarjeta-suscribirse{
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid #2f3336;
    border-radius: 20px;
    width: 80%;
    gap: 20px;
    margin-top: 90px;
}

.suscribete{
    background-color: #1d9bf0;
    border-radius: 20px;
    padding: 10px 15px;
   
}

.tarjeta-tendencias{
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid #2f3336;
    border-radius: 20px;
    width: 80%;
    padding: 20px;
    gap: 20px;

    && div a{
        display:flex;
        flex-direction: column;
        align-items: start;
        gap: 5px;
        font-size: 14px;
    }

    && div a:hover{
        background: none;
    }
}

.container-follow{
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid #2f3336;
    border-radius: 20px;
    width: 80%;
    && div div article{
        display: flex;
        padding: 20px 0px;
        gap: 10px;
        && .usuario{
            width: 100%;
            display: flex;
            justify-content: space-between;
            && a{
                background-color:rgb(255, 255, 255);
                color: black;
                border-radius: 20px;
                width: 30%;
                text-align: center;
            }
        }
    }
}

.container-postear{
    display: none;
}

/* PAGINA EXPLORE */

.container-app-explore{
    width: 100%;
}

.body-container{
    width: 100%;
}

.container-search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    gap: 20px;
    && div figure img{
        border-radius: 50%;
    }

    && .search-input{
        width: 100%;
        
        &&  input{
            width: 100%;
        }
    }
}

.tarjeta-tendencias-explore{
    width: 100%;
    display:  flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10px;
    && div{
        width: 100%;
    }

    && div a{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-size: 16px;
    }

    && div a:hover{
        background: none;
    }
}

.container-article--explore{
    display: none;
}

.container-header--explore{
    width: 100%;
    border-bottom: 1px solid #2f3336;

    && nav{
        width: 100%;

        && ul{
            display: flex;
            justify-content:center;
            width: 100%;
            && li{
                width: 100%;
                text-align: center;

                && a{
                    width: 100%;
                    display: block;
                    padding: 10px;
                    font-size: 14px;
                    padding: 20px 0px;

                }
            }
        }
    }
}

/* PAGINA NOTIFICACIONES */
.header-notificaciones{
    width: 100%;
    border: 1px solid #2f3336;

    && figure{
        display: flex;
        gap: 20px;
        padding: 20px 40px;
        && img{
            border-radius: 50%;
        }
    }

    && nav{

        && ul{
            display: flex;
            justify-content:center;
            width: 100%;


            && li{
                text-align: center;
                width: 100%;

                && a{
                    display: block;
                    padding: 10px;
                    font-size: 16px;
                }
            }
        }
    }
}

.container-app-notification{
    && .notifications{
        padding: 20px 40px;
        border-top: 1px solid #2f3336;
        border-bottom: 1px solid #2f3336;

    }
}

/* PAGINA PERFIL */

.perfil-container{
    margin-top: 70px;
    width: 100%;

    && .picture-fondo{
        && img{
            max-width: 100%;
        }
    }

    && .article-container {
        padding: 0px 20px;
        width: 100%;
        && picture{
            display: flex;
            width: 100px;
            && img{
                width:100%;
                border-radius: 50%;
                max-width: 70px;
            }
        }
    }    

    && div{
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        gap: 5px;
        && div{
            flex-direction: row;
            gap: 20px;
        }
    }
}


@media only screen and (min-width: 1024px){

    .logo{
        text-align: center;
    }

    body {
        display: flex;
        flex-direction: row; 
        justify-content: flex-start; 
        align-items: flex-start; 
        width: 100%;
        background-color: var(--color-principal);
        color: var(--color-fuente);
        font-family: "Twitter Chirp";
    }


    .body-container {
        width: 100%; 
        display: flex;
        flex-direction: column;
        justify-content: flex-start; 
        border-right: 1px solid #2f3336;
        margin-left: 40px;
    }

    .container-app{
        padding: 0px 0px 100px 20px;
        width: 600px;
    }

    .container-article{
        display: flex;
    }

    .header-inline-container{
        width: 0%;
    }

    .container-postear{
        padding: 50px 0px;
        width: 100%;
        display: flex;
        padding-left: 25px;
        width: 600px;
        && article{
            width: 100%;
            border-right: 1px solid  #2f3336;
            && input{
                width: 100%;
                background: black;
                padding: 30px 50px;
                font-size: 20px;
                border-radius: 0px;
                border: none;
            }

            && .container-postear--iconos{
                padding: 0px 50px;
                display: flex;
                justify-content: space-between;

                && .container-iconos{
                    display: flex;
                    && a:hover{
                        background: none;
                    }

                    && a img{
                        width: 20px;
                    }
                }
            }

            && .container-postear--iconos{
                display: flex;

                && .container-postear--iconos__postear a{
                    background: white;
                    color: black;
                    border-radius: 20px;
                    padding: 5px 30px;
                    font-size: 16px;
                }
            }
        }
    }

    /* PAGINA EXPLORE */
    .container-app-explore{
        padding: 0px 0px 100px 55px;
    }

    .container-article--explore{
        display: block;
        width:50%;
        padding: 20px;
    }

    .container-search{
        padding-left: 60px;

        && div form input{
            background: black;
            
        }
    }

    .container-follow--explore{
        width: 95%;
    }

    .container-header--explore{
        padding-left: 40px;
    }

    /* PAGINA NOTIFICACIONES */

    .header-notificaciones{
        padding-left: 39px;
    }

    .body-container-notification{
        margin-left: 40px;
    }

    .container-app-notification{
        width: 600px;
        padding-left:40px;
    }

    /* PAGINA PERFIL */
        
    .perfil-container{
        margin-top: 70px;
        width: 100%;
        padding-left:40px;

        && .picture-fondo{
            && img{
                max-width: 100%;
            }
        }

        && .article-container {
            padding: 0px 20px;
            width: 100%;
            && picture{
                display: flex;
                width: 100px;
                && img{
                    width:100%;
                    border-radius: 50%;
                    max-width: 70px;
                }
            }
        }    

        && div{
            display: flex;
            flex-direction: column;
            margin-top: 10px;
            gap: 5px;
            && div{
                flex-direction: row;
                gap: 20px;
            }
        }
    }
    
}
