.header {
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--border-color);
  height: 100vh;
  width: 20vw;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
  gap: 20px;
}

.link {
  display: flex;
  gap: 10px;
  font-size: 1.4rem;
}
