.header {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 20vw;
    padding: 20px;
    gap: 20px;
    width: 40%;
    background-color: black;
    z-index: 1000;
}

.link {
    display: flex;
    gap: 10px;
    font-size: 1.4rem;
}

@media only screen and (max-width: 1200px) {
    .header {
        position: fixed;
        width: 100%;
        height: 9vh;
        bottom: 0;
        display: flex;
        flex-direction: row;
        border-top: 1px solid var(--border-color);
        background-color: black;
    }

    .header a {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .header span {
        display: none;
    }

    .header .logo {
        display: none;
    }
}
