<head>
    <link rel="stylesheet" href="../css/componentes/card-suscribe.css">
    <script type="module" src="../js/utils/manejoCardSuscribe.js"></script>

</head>

<article class="tarjeta-suscribirse--index">
    <h3>suscribete a premiun</h3>
    <p>Suscríbete para desbloquear nuevas funciones y, si eres elegible, recibir un pago de cuota de ingresos
    </p>
    <a href="/" class="suscribete">Suscribete</a>
</article>