<head>
    <link rel="stylesheet" href="../css/componentes/card-tendencesExplore.css">
</head>

<article class="tarjeta-tendencias--explore">
    <div>
        <a href="/">
            <span>Tendencias</span>
            <p>Disney Channel</p>
            <span>12,700 publicaciones</span>
        </a>
        
    </div>
    <div>
        <a href="/">
            <span>Tendencias</span>
            <p>Nvidia</p>
            <span>122 mil publicaciones</span>
        </a>
        
    </div>
    <div>
        <a href="/assets/">
            <span>Gaming · Tendencia</span>
            <p>PS5 Pro</p>
            <span>12,4 mil publicaciones</span>
        </a>
        
    </div>
    <div>
        <a href="/">
            <span>Tendencias</span>
            <p>Marvel Rivals</p>
            <span>20,800 publicaciones</span>
        </a>
    </div>
    <div>
        <a href="/">
            <span>Tendencias</span>
            <p>Disney Channel</p>
            <span>12,700 publicaciones</span>
        </a>
        
    </div>
    <div>
        <a href="/">
            <span>Tendencias</span>
            <p>Nvidia</p>
            <span>122 mil publicaciones</span>
        </a>
        
    </div>
    <div>
        <a href="/assets/">
            <span>Gaming · Tendencia</span>
            <p>PS5 Pro</p>
            <span>12,4 mil publicaciones</span>
        </a>
        
    </div>
    <div>
        <a href="/">
            <span>Tendencias</span>
            <p>Marvel Rivals</p>
            <span>20,800 publicaciones</span>
        </a>
    </div>
</article>