<head>
    <link rel="stylesheet" href="../css/componentes/card-auth.css">
    <script type="module" src="../js/utils/manejoCardAuth.js"></script>
</head>

<article class="tarjeta-cuenta">
    <h3>¿Eres nuevo en x?</h3>
    <a href="/auth/registro">Registrese</a>
    <a href="/auth/login">Iniciar Sesión</a>
</article>