<head>
    <link rel="stylesheet" href="../css/componentes/card-follow.css">
</head>

<article class="container-follow">
    <h3>A quien Seguir</h3>
    <div>
        <div>
            <article>
                <figure>
                    <img src="https://unavatar.io/x/EufoniaStudio" alt="imagen-usuario">
                </figure>
                <div class="usuario">
                    <div>
                        <h4>Eufonia Estudio</h4>
                        <p>@EufonioEstudio</p>
                    </div>
                    <a href="/">Seguir</a>
                </div>
            </article>
        </div>

        <div>
            <article>
                <figure>
                    <img src="https://unavatar.io/x/SergioRamos" alt="imagen-usuario">
                </figure>
                <div class="usuario">
                    <div>
                        <h4>Sergio Ramos</h4>
                        <p>@SergioRamos</p>
                    </div>
                    <a href="/">Seguir</a>
                </div>
            </article>
        </div>

        <div>
            <article>
                <figure>
                    <img src="https://unavatar.io/x/ElAlexQuackity" alt="imagen-usuario">
                </figure>
                <div class="usuario">
                    <div>
                        <h4>Quackity</h4>
                        <p>@ElAlexQuackity</p>
                    </div>
                    <a href="/">Seguir</a>
                </div>
            </article>
        </div>
    </div>
</article>