<head>
    <link rel="stylesheet" href="../css/componentes/card-notifications.css">
</head>

<section class="notifications">
    <figure>
        <img src="https://unavatar.io/x/platzi" alt="imagen-perfil" class="perfil-imagen">
    </figure>
    <article>
        <div>
            <p>Platzi está EN DIRECTO: "Platzi Barcamp es el concurso donde Platzi te premia por
                enseñar"</p>
        </div>
    </article>
</section>

<section class="notifications">
    <figure>
        <img src="https://unavatar.io/x/Rubiu5" alt="imagen-perfil" class="perfil-imagen">
    </figure>
    <article>
        <div>
            <p>Rubiu5 está EN DIRECTO: "La leyenda del gaming, ¿La leyenda de la variedad?"</p>
        </div>
    </article>
</section>
<section class="notifications">
    <figure>
        <img src="https://unavatar.io/x/IbaiLlanos" alt="imagen-perfil" class="perfil-imagen">
    </figure>
    <article>
        <div>
            <p>Ibai llanos está EN DIRECTO: "Presentación de la Velada del año XXXXXXXXX"</p>
        </div>
    </article>
</section>
<section class="notifications">
    <figure>
        <img src="https://unavatar.io/x/MishoAmoli" alt="imagen-perfil" class="perfil-imagen">
    </figure>
    <article>
        <div>
            <p>MishoAmoli está EN DIRECTO: "Calificando Perfumes de Zara, probando ropa y golpeando
                monitores"</p>
        </div>
    </article>
</section>