<head>
    <link rel="stylesheet" href="../css/componentes/form-createTweet.css">
</head>

<form class="tweet-container--input">
    <input type="text" class="tweet-input" placeholder="¡¿Que esta pasando?!">
    <div class="container-postear--iconos">
        <div class="container-iconos">
            <a class="logo">
                <img src="assets/iconos/foto.svg" alt="logo">
            </a>
            <a href="#">
                <img src="../assets/iconos/gif.svg" alt="icono-home">
            </a>
            <a href="#">
                <img src="../assets/iconos/emoji.svg" alt="icono-search">
            </a>
            <a href="#">
                <img src="../assets/iconos/calendar.svg" alt="icono-noti">
            </a>
            <a href="#">
                <img src="../assets/iconos/maps.svg" alt="icono-users">
            </a>
        </div>
        <div class="container-postear--iconos__postear">
            <button type="submit" class="btn-postear">Postear</button>
        </div>
    </div>
</form>