<head>
    <link rel="stylesheet" href="../css/styles.css">
    <style>
        .navegacion{
            width: 100%;
            position: fixed;
            z-index: 100;
            bottom: 0;
            background-color: black;
            border: 1px solid #2f3336;
            && nav{
                width: 100%;
                display: flex;
                justify-content: space-between;

                && .logo{
                    display: none;
                }
            }
        } 


        @media only screen and (min-width: 1024px){
            .navegacion{
                width: 80px;
                height: 100vh;
                border-top: none;
                border-left: none;
                border-right: 1px solid #2f3336;
                && nav{
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;

                    && .logo{
                        display: block ;
                    }
                }
            } 

        }
        
    </style>

<script type="module">
    document.addEventListener("DOMContentLoaded", async () => {
        const btnCerrarSesion = document.querySelector(".btn-cerrarSesion")

        async function verificarSesion() {
            try {
                const response = await fetch("/auth/checkSesion")
                if (response.ok) {
                    const data = await response.json()
                    return data.isAuth
                }
            } catch (error) {
                console.error("Error al verificar sesión:", error)
            }
            return false
        }

        async function cerrarSesion() {
            try {
                const response = await fetch("/auth/logout", {
                    method: "POST"
                });

                if (response.ok) {
                    window.location.href = "/";
                }
            } catch (error) {
                console.error("Error al cerrar sesión:", error)
            }
        }

        const usuarioAutenticado = await verificarSesion()

        if (usuarioAutenticado) {
            btnCerrarSesion.style.display = "flex"
            btnCerrarSesion.style.justifyContent = "center"
        } else {
            btnCerrarSesion.style.display = "none"
        }

        btnCerrarSesion.addEventListener("click", cerrarSesion)
    });
</script>
</head>

<div class="navegacion">
    <nav>
        <a href="/" class="logo">
            <img src="assets/iconos/logo-x.svg" alt="lgo">
        </a>
        <a href="/">
            <img src="../assets/iconos/home.svg" alt="icono-home"> 
        </a>
        <a href="../explore">
            <img src="../assets/iconos/search.svg" alt="icono-search"> 
        </a>
        <a href="../notificaciones">
            <img src="../assets/iconos/notification.svg" alt="icono-noti"> 
        </a>
        <a href="../perfil" class="btn-perfil">
            <img src="../assets/iconos/perfil.svg" alt="icono-users"> 
        </a>
        <a href="/" class="btn-cerrarSesion" style="display: none;">
            <img src="../assets/iconos/logout.svg" alt="icono-logout">
        </a>
    </nav>
</div>
