<head>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/componentes/header-up.css">
</head>



<header>
    <div class="container-imagen-logo">
        <figure>
            <img src="https://unavatar.io/x/TheGrefg" alt="imagen-usuario">
        </figure>
        <figure>
            <img src="assets/iconos/logo-x.svg" alt="lgo">
        </figure>
    </div>
    <div class="container-links">
        <a href="/">
            <h2>Para Ti</h2>
        </a>
        <a href="/">
            <h2>Siguiendo</h2>
        </a>
    </div>
</header>