.container {
  width: 100%;
  display: flex;
  padding: 20px;
  gap: 20px;
}

.userImage img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.infoContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.infoContent .info {
  display: flex;
  gap: 10px;
}

.infoContent span {
  color: #5c5c5c;
}

.buttons {
  width: 100%;
  display: flex;
}

.buttons button {
  width: 100%;
  background-color: transparent;
  border: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

#filled {
  color: #c01c28;
}

#notFilled {
  color: white;
}
