.container {
    width: 100%;
    display: flex;
    padding: 20px;
    gap: 20px;
    position: relative;
    border: 1px solid var(--border-color);
}

.userImage img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.imageContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.image {
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
    margin: 20px 0px;
}

.infoContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.infoContent .info {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.infoContent span {
    color: #5c5c5c;
}

.buttons {
    width: 100%;
    display: flex;
}

.buttons button {
    width: 100%;
    background-color: transparent;
    border: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#filled {
    color: #c01c28;
}

#notFilled {
    color: white;
}

.dotsActive {
    background-color: black;
    border: none;
    display: flex;
    padding: 5px;
}

.dotsNotActive {
    background-color: var(--color-opacity);
    border: none;
    border-radius: 50%;
    display: flex;
    padding: 5px;
}

.options {
    position: absolute;
    right: 0;
    margin-top: 35px;
    margin-right: 20px;
    border: 1px solid var(--border-color);
    padding: 10px;
    background-color: black;
    border-radius: 5px;
}

.options button {
    background-color: black;
    border: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.text {
    display: flex;
    gap: 10px;
}

.textUser {
    display: flex;
    gap: 10px;
}

.textUser p {
    color: white;
}

.textUser span {
    color: #5c5c5c;
}

.textTime {
    color: #5c5c5c;
}

@media only screen and (max-width: 768px) {
    .imageContainer {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .textUser {
        align-items: initial;
        flex-direction: column;
        gap: 5px;
    }

    .buttonDots img {
        width: 100%;
    }

    .options {
        margin-top: 50px;
    }
}
