.container {
  background-color: var(--primary-color);
  border-bottom: 1px solid var(--border-color);
  padding: 20px;
}

.input {
  background-color: var(--primary-color);
  width: 100%;
  padding: 10px 20px;
  border: none;
  color: var(--color-opacity);
  font-size: 1.5rem;
}

.button {
  display: flex;
  justify-content: flex-end;
  margin: 10px 0px;
}

.button button {
  background-color: white;
  border-radius: 10px;
  padding: 5px 20px;
  font-size: 1rem;
  font-weight: bold;
  border: none;
}
