.container {
  background-color: var(--primary-color);
  border-bottom: 1px solid var(--border-color);
  padding: 20px;
}

.input {
  background-color: var(--primary-color);
  width: 100%;
  padding: 10px 20px;
  border: none;
  color: #cbcbcb;
  font-size: 1.5rem;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  margin: 10px 0px;
}

.options {
  background-color: black;
  cursor: pointer;
}

.options button {
  background-color: black;
  border: none;
}

.postButton {
  background-color: white;
  border-radius: 10px;
  padding: 5px 20px;
  font-size: 1rem;
  font-weight: bold;
  border: none;
}
