<head>
    <link rel="stylesheet" href="../css/componentes/form-createTweet.css">
    <script type="module" src="../js/utils/crearTweet.js"></script>
</head>

<form class="tweet-container--input">
    <input type="text" class="tweet-input" placeholder="¡¿Que esta pasando?!">
    <div class="preview-image"></div>
    <div class="container-postear--iconos">
        <div class="container-iconos">
            <figure class="btn-foto">
                <img src="assets/iconos/foto.svg" alt="logo">
                <input type="file" id="imagenTweet" hidden>
            </figure>
            <figure>
                <img src="../assets/iconos/gif.svg" alt="icono-home">
            </figure>
            <figure>
                <img src="../assets/iconos/emoji.svg" alt="icono-search">
            </figure>
            <figure>
                <img src="../assets/iconos/calendar.svg" alt="icono-noti">
            </figure>
            <figure>
                <img src="../assets/iconos/maps.svg" alt="icono-users">
            </figure>
        </div>
        <div class="container-postear--iconos__postear">
            <button type="submit" class="btn-postear">Postear</button>
        </div>
    </div>
</form>