<head>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/componentes/header-inline.css">
    <script type="module" src="../js/utils/manejoLogOut.js"></script>
</head>

<div class="navegacion">
    <nav>
        <a href="/" class="logo">
            <img src="assets/iconos/logo-x.svg" alt="lgo">
        </a>
        <a href="/">
            <img src="../assets/iconos/home.svg" alt="icono-home"> 
        </a>
        <a href="../explore">
            <img src="../assets/iconos/search.svg" alt="icono-search"> 
        </a>
        <a href="../notificaciones">
            <img src="../assets/iconos/notification.svg" alt="icono-noti"> 
        </a>
        <a href="../perfil" class="btn-perfil">
            <img src="../assets/iconos/perfil.svg" alt="icono-users"> 
        </a>
        <a href="/" class="btn-cerrarSesion" style="display: none;">
            <img src="../assets/iconos/logout.svg" alt="icono-logout">
        </a>
    </nav>
</div>
