<head>
    <link rel="stylesheet" href="../css/componentes/header-search.css">
</head>

<header class="container-header--explore">
    <div class="container-search">
        <div class="container-imagen-logo">
            <figure>
                <img src="https://unavatar.io/x/TheGrefg" alt="imagen-usuario">
            </figure>
            
        </div>
        <div class="search-input">
            <form>
                <input type="text" placeholder="Buscar...">
            </form>
        </div>
    </div>
    <nav>
        <ul>
            <li><a href="#">Para ti</a></li>
            <li><a href="#">Tendencias</a></li>
            <li><a href="#">Noticias</a></li>
            <li><a href="#">Deportes</a></li>
            
        </ul>
    </nav>
</header>