.container {
  width: 100%;
  height: 100vh;
  display: flex;
}

@media only screen and (max-width: 1024px) {
  .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .container img {
    width: 200px;
  }
}
