.navigation {
  width: 100%;
}

.navigation ul {
  display: flex;
  width: 100%;
}

.navigation ul li {
  width: 100%;
}

.navigation ul li button {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  color: white;
  background-color: transparent;
}

.navigation ul li button:hover {
  background-color: rgb(62, 65, 68);
}

.active {
  border-bottom: 2px solid #1d9bf0 !important;
}
