.tweet-container--input{
    width: 100%;
    padding-bottom: 20px;
    border-right: 1px solid  #2f3336;
    border-bottom: 1px solid  #2f3336;
    
    && input{
        width: 100%;
        background: black;
        padding: 30px 50px;
        font-size: 20px;
        border-radius: 0px;
        border: none;
    }

    && .preview-image{
        padding: 0px 50px;
        display: flex;

        && img{
            border-radius: 0;
            width: 100%;
            max-width: 100%;
        }
    }

    && .container-postear--iconos{
        padding: 0px 50px;
        display: flex;
        justify-content: space-between;

        && .container-iconos{
            display: flex;

            && figure{
                padding: 8px;
                cursor: pointer;
            }

            && figure:hover{
                background: none;
            }

            && figure img{
                width: 20px;
            }
        }
    }

    && .container-postear--iconos{
        display: flex;

        && .container-postear--iconos__postear a{
            background: white;
            color: black;
            border-radius: 20px;
            padding: 5px 30px;
            font-size: 16px;
        }
    }
}