.container {
  width: 100%;
}

.input {
  width: 100%;
  padding: 10px 20px;
  border-radius: 30px;
  background-color: var(--primary-color);
  border: 1px solid var(--border-color);
  color: var(--color-opacity);
  font-size: 1.2rem;
}
