<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explorar</title>
    <link rel="icon" type="image/svg+xml" href="../assets/iconos/logo-x.svg" />
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/explore.css">
</head>
<body>
    <div class="header-inline-container">
        <%- include("./componentes/header-inline") %>
    </div>

    <div class="body-container">
        <%- include("./componentes/header-search") %>

        <div class="container-app--explore">
            <main>
                <%- include("./componentes/card-tendencesExplore.ejs") %>
            </main>
        </div>
    </div>

    <div class="container-article">
        <%- include("./componentes/card-follow.ejs") %>
    </div>
</body>
</html>