
.container-follow{
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid #2f3336;
    border-radius: 20px;
    width: 80%;
    && div div article{
        display: flex;
        padding: 20px 0px;
        gap: 10px;
        && .usuario{
            width: 100%;
            display: flex;
            justify-content: space-between;
            && a{
                background-color:rgb(255, 255, 255);
                color: black;
                border-radius: 20px;
                width: 30%;
                text-align: center;
            }
        }
    }
}