.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 70%;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.inputs button {
  background-color: var(--secondary-color);
  color: var(--white);
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
}
