.navigation {
  width: 100%;
}

.navigation ul {
  display: flex;
  width: 100%;
}

.navigation ul li {
  width: 100%;
}

.navigation ul li a {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation ul li a:hover {
  background-color: rgb(62, 65, 68);
}
