.container {
  width: 100%;
  background-color: #333639;
  padding: 100px 0px;
}

.container img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid var(--primary-color);
}

.profile {
  width: 50%;
  position: absolute;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}

.button {
  background-color: var(--primary-color);
  color: var(--white);
  border: 1px solid white;
  padding: 10px 20px;
  border-radius: 50px;
  font-weight: bold;
}
