.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 10px 20px;
}

.headerText {
  display: flex;
  width: 100%;
  gap: 10px;
}

.headerText h5 {
  font-size: 1.25rem;
  font-weight: bold;
}

.headerText span {
  color: var(--color-opacity);
}

.profile {
  width: 50%;
  position: absolute;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}

.button {
  background-color: var(--primary-color);
  color: var(--white);
  border: 1px solid white;
  padding: 10px 20px;
  border-radius: 50px;
  font-weight: bold;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(36, 45, 52, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modali {
  background-color: var(--primary-color);
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  max-width: 90%;
}
