/* PAGINA EXPLORE */
.container-app--explore{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 600px;
}

.container-search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    gap: 20px;
    && div figure img{
        border-radius: 50%;
    }

    && .search-input{
        width: 100%;
        
        &&  input{
            width: 100%;
        }
    }
}



.container-header--explore{
    width: 100%;
    border-bottom: 1px solid #2f3336;

    && nav{
        width: 100%;

        && ul{
            display: flex;
            justify-content:center;
            width: 100%;
            && li{
                width: 100%;
                text-align: center;

                && a{
                    width: 100%;
                    display: block;
                    padding: 10px;
                    font-size: 14px;
                    padding: 20px 0px;

                }
            }
        }
    }
}

@media only screen and (min-width: 1024px){
    .container-app--explore{
        padding: 0px 0px 100px 20px;
        width: 600px;
    }
    
    .container-search{
        padding-left: 60px;

        && div form input{
            background: black;
            
        }
    }

    .container-header--explore{
        padding-left: 40px;
    }
}

