.body-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-perfil{
    width: 100%;
    display: flex;
    gap: 40px;
    max-width: 600px;
    position: fixed;
    background: black;
    padding: 10px 20px;
    border-bottom: 1px solid #2f3336;
    border-right: 1px solid #2f3336;

    && picture{
        display: grid;
        place-items: center;
    }
}

main{
    width: 100%;
}

img{
    width: 100%;
    max-width: 30px;
}

.header-inline-container{
    position: relative;
    background: red;
    width: 100%;
}

.container-postear{
    display: none;
}

.container-postear--iconos__postear button{
    padding: 8px 10px;
    border-radius: 10px;
    border: none;
    background: white;
    cursor: pointer;
}

@media only screen and (min-width: 1024px){
    
    .container-postear{
        padding: 50px 0px 0px 0px;
        width: 100%;
        display: flex;
        padding-left: 25px;
        width: 600px;
        
    }

}