:root {
  --primary-color: black;
  --secondary-color: #1d9bf0;
  --white: white;
  --border-color: #2f3336;
  --color-opacity: #5c5c5c;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary-color);
  color: var(--white);
  font-family: "Fira Sans", sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
}

h4 {
  font-size: 2rem;
}

h6 {
  font-size: 1.2rem;
}
